[Unit]
Description=ADA(Automatic Digital Aggregator) Service
After=hciuart.service bluetooth.target network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=blickbox
ExecStart=/usr/local/ada

[Install]
WantedBy=multi-user.target